<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="com.capg.model.Employee" name="emp">
		<property name="projects">
			<list>
				<value>P1</value>
				<value>P2</value>
				<null></null>
				<value>P3</value>
			</list>
		</property>
		<property name="details">
			<set>
				<value>D1</value>
				<value>D1</value>
				<null></null>
				<value>D2</value>
			</set>
		</property>
	</bean>

</beans>  